images/TEMP-backgroundimgseditor.psd
images/TEMP-squareimgseditor.psd
node_modules/
.env
npm-debug.log
yarn-debug.log
yarn-error.log
ecosystem.config.js
dist/
build/
.vscode/
.idea/
.DS_Store
.tmp/
pm2-log-file
package-lock.json
*.log

# GeoIP-lite data folder
node_modules/geoip-lite/data/

# Optional logs or temp files
geoip-update.log
geoip-lite/tmp/