/*UNIVERSAL*/

*{
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  max-width: 100%;
  
}
#max-width-exception {max-width: 100vw;}

html,body {margin: 0; width: 100vw; background-color:#12171d;/*oldcolorwas12161c*/}
html {height: fit-content;}

body {
  min-height: 100%; /*FIX FOUND - this fixed the repeat img only showing for part of the page, as the body was only reaching the viewport's pixel height when body was set to height: 100%; solution was to keep html as that setting, but set body to min-height 100% instead of definitive height to 100%*/
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /*prevent horizontal scroll bar*/
  /*star background*/
  background-image: url("/images/starV1frame1.png");
  background-repeat: repeat;
  background-attachment:fixed;
  /*TODO - play with these settings and consider animating the background img using method from STARTEST
  need to experiment with this more later (scrolling, animation with startest methods, full page coverage-FIX FOUND- min-height:100%; on body instead of height:100%;)*/
}

@media screen and (max-width: 850px){
  body {
    /*font-size: 12pt;*/
    /*font-size: calc(3vw+1em);*/
    background-size: 50%; /*fixes star density being too low on mobile*/
  }
}
@media screen and (min-width: 0px){
  :root {font-size: 12pt;  }
}
@media screen and (min-width: 365px){
  :root {font-size: 13pt;  }
}
@media screen and (min-width: 422px){
  :root {font-size: 14pt;  }
}
@media screen and (min-width: 506px){
  :root {font-size: 15pt;  }
}
@media screen and (min-width: 600px){
  :root {font-size: 16pt;  }
}
@media screen and (min-width: 700px){
  :root {font-size: 18pt;  }
}
@media screen and (min-width: 850px){
  :root {font-size: 20pt;  }
}
@media screen and (min-width: 1058px){
  :root {font-size: 22pt;  }
}
@media screen and (min-width: 1391px){
  :root {font-size: 24pt;  }
}
@media screen and (min-width: 1520px){
  :root {font-size: 26pt;  }
}
@media screen and (min-width: 2000px){
  :root {font-size: 30pt;  }
}
@media screen and (min-width: 3000px){
  :root {font-size: 36pt;  }
}
@media screen and (min-width: 3800px){
  :root {font-size: 40pt;  }
}

a {list-style-type: none; 
  text-decoration: none;
  z-index: 1; }

a:link, a:active, a:link *, a:active *{
  color: #e3f5ff;
}
a:visited, a:visited *{
  color: #e3f5ff;
}
a:hover, a:hover *{
  color: #e3f5ff3f;
}

/*nav*/
/*nav-desktop*/
nav {
  z-index: 29;
  align-self: end;
  margin-right: 5%;
  position: fixed;
  
}
  nav button{
    display: none;
    visibility: hidden;
    position: fixed;
    height: 0px;
    width: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 30;
  }
    #topnav {
      
      z-index: 10;
      display: flex;
      align-items: center;
      margin: 0;
      gap: 1rem;      
      list-style-type: none;
      background-color: #12171d9d;
      padding: .5rem;
      border-radius: .5rem;
    }  
    .topnav-item{list-style-type: none;}
    .topnav-link{
      z-index: 12; 
      font-weight: 500;
      text-decoration: none;
    }

    @media screen and (min-width: 850px){#topnav-link-home{visibility: hidden; display: none;}}
         
/*nav-mobile*/
 
  @media screen and (max-width: 850px) and (prefers-reduced-motion){
    #topnav-menu{
      translate: 0 0;
      opacity: 0;
      transition: opacity 500ms ease-in-out; 
      transition: translate 0s;

    }
  }
@media screen and (max-width: 850px){
    
  nav{z-index: 30; width: 40px; height: 40px; margin:0; padding: 0; top: 3px; right: 3px;}

  .hamburger-icon {z-index: 32; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;}
      .hamburger-icon-piece {
        z-index: 32;
        width: 25px;
        height: 5%;
        border: 1px solid white;
        background-color: #e3f5ff;
        border-radius: 1rem;
      }
  nav button{
    z-index: 33;
    display: block;
    visibility: visible;
    position: fixed;
    background: none;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
    right: 0;
  }
  #topnav-menu{
    width: 10rem; height: 14rem; margin: 0; position: fixed; top: 3px; right: 3px; /*fix: added measurements here instead of on nav element - this way the nav doesn't stay while only its content is translated*/
    z-index: 31;
    translate: 300vw 0;
    transition: translate 0.3s ease-in-out; 
  }
    #topnav {
      border: 2px inset white;
      margin-top: 2.5rem;
      z-index: 36;
      width: 100%;
      height: 100%;
      background-color: #12171df3;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: large;
      align-items:flex-start; 
    }
          .topnav-link{width: 100%; display: inline-block;}
          .topnav-item{width: 100%; display: inline-block;}
  }

 
#topnav-open[aria-expanded="true"] ~ #topnav-menu {
  translate: 0; 
}

@media (prefers-reduced-motion){
  #topnav-open[aria-expanded="true"] ~ #topnav-menu {
    opacity: 1;
  }
}


/*header*/
                            
header {
  display: flex;
  width: 100vw;
  height: 2.5rem;
  align-items: center;
  justify-content: start;
  z-index: 29;
  border-bottom: 1px inset #e3f5ff;
  position: fixed;
  }
  #header-link{
      width: 70%; 
      height: 2.25rem;   
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      justify-content: start;

  }
      #header-h1 {align-items: center; font-size: 1rem;  font-weight: 500; color:#e3f5ff; padding-left: 20px;} 
      #tree-img {height: 2.25rem; width:2.34rem;} 


/*LOADSCREEN*/
      #loadcontainer{
        width: 100vw;
        overflow-y: hidden;
        position: absolute;
        top: 0;
    }
        /*MOBILE*/
        @media screen and (max-width: 850px){
        #loadcontainer {height: calc(2.5rem + 1000px + 4rem);} /*header plus main plus footer - 2rem high internals + 2rem high socials*/
        }                                
        /*DESKTOP*/
        @media screen and (min-width: 850px){
        #loadcontainer {height: calc(2.5rem + 1000px + 2rem);} /*header plus main plus footer - 2rem high internals/socials */
        }
    .loadscreen {
        width: 100%;
        height: 100%;
        background-image: url("/images/starV1frame1.png");
        background-repeat: repeat;
        position: absolute;
        top: 0;
        transform: translateY(0);
        z-index: 20;
        display: flex;
        justify-content: center;
        animation: scrolldown 3s linear 1;
        animation-play-state: running;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
    .loadscreen>img{
        width: 184px;
        height: 255px;
    }
    #loadscreen-notfirst{
        animation: scrolldown 2s linear 1;
        animation-play-state: running;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
    @media screen and (max-width: 850px){
        @keyframes scrolldown {
        0%{transform: translateY(0);}
        20%{transform: translateY(10%);}
        100%{transform: translateY(100%); display: none; visibility: hidden;}
        }
    }
    @media screen and (min-width: 850px){
        @keyframes scrolldown {
        0%{transform: translateY(0);}
        20%{transform: translateY(10%)}
        100%{transform: translateY(100%); display: none; visibility: hidden;}
        }
    }

    @media screen and (prefers-reduced-motion){
      .loadscreen, #loadcontainer, .loadscreen>img {display: none; visibility: hidden;}
    }

/*main*/
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
} 

main h1, main h2, main h3,  main p{color: #e3f5ff; text-shadow: 1px 1px 1px black; align-self: center;}
main h2 {font-size: 2rem;}

.span-filler{height: 3rem; width: 100%;}
#filler{height: 1000px}

section {width: 100%; height:fit-content; z-index: 1;}


  #section-heading-links{
  width: 80%;
  display: flex;
  flex-direction: column;
  } 
    #link-artists-container{width: 100vw; display: flex; justify-content: start; position: relative; left: -5vw; margin-top: 1rem; margin-bottom: -2.5rem;}
    #link-artists:hover *{ color: #e3f5ff;}
      #link-artists-container h3{padding-right: 5%; padding-left: 5%; align-self: center;}
    #artistname-h2 {margin-top: 1.2rem; align-self: center; padding-right: 5%; padding-left: 5%; text-align: center;}
      @media screen and (max-width: 800px){#artistname-h2{margin-top: 3rem;}}
  



/*PLANETS */

.container-container{
  display: flex;
  width: 96%;
  height: fit-content;
  margin-top: 1rem;
}


.container-img{
  position: relative;
  left: -10rem;
}
  /*display: grid;
  width: fit-content;
  height: fit-content;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  }
    .planet-link, .planet-link2{
      grid-area: 1/1/1/1;
      justify-self: center;
      width: 10rem;
      text-overflow: wrap;
      text-align: center;
    }
    #planet-link3:hover *, #planet-link3:focus * {
      text-shadow: 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black; 
    }
        #planet-link3:hover *{
          color: #75ffba; 
        } */
            /*, #planet-link3:focus * removed from color styles for accessibility - less visible if the above is applied*/
    
    .artist-text{text-shadow: 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;}
    .artist-img2{
      width: 10rem;
      height: 10rem;
      border: 1px inset white;
      border-radius: 1rem;
    } /*grid-area: 1/1/1/1;*/
    #img-middle{
      margin-left: .5rem;
      margin-right: .5rem;
    }



    @media screen and (max-width: 690px){
      .container-text{flex-direction: column; justify-content: space-evenly;}
        #container-text-middle{flex-direction: column-reverse;}
     
      .text-h3{align-self: end;}
        #text-h3-middle{align-self: start; }
      
    }/* .planet-link{width: 8rem;}*/






@media screen and (min-width: 1700px){
  #section-container{
    padding-top: 3rem;
  }
  .container-img{
    top: -2rem;
  }
}

@media screen and (min-width: 500px){
  .container-container {margin-left: 1vw;}
}

@media screen and (min-width: 1024px){
  .container-container {margin-left: 2vw;}
}

.container-text{
    display: flex;
    text-align: right;
    align-items: center;
    
  }
    #container-text-middle{text-align: left;}
      .text-p, .text-p2 {font-size: .75rem;}
      .text-h3 {text-align: center;}
    #container-concerts{justify-content: end;}
    #container-albums{justify-content: start;}


    #container-text2 {display: flex; flex-direction: column; width: 92vw; position: relative;} 
      #container-text2 h3{margin-bottom: .75rem; align-self: start;}
      #text-p-long1 {width: 60vw; align-self: start;}
      #text-p-long2 {text-align: left; width: 90vw; margin-bottom: 1rem;}
      .expand-arrow-down {display: none; visibility: hidden;}

      #section-container {width: 100vw; overflow: hidden; display: flex; justify-content: center; height: fit-content;}
/*FIX: (implemented) overflow hidden value added to section container as this section was causing the vw to be expanded past the body */
@media screen and (min-width: 1001px){
  #container-container2 {position: relative; left: 2vw;}
}
 @media screen and (max-width: 1000px){
      #container-container2 {position: relative; justify-content: center; margin-bottom: 4rem;}
        #container-text2 {
          width: 20rem; height:17rem; position: absolute; z-index: 10;
          display: flex; flex-direction: column; align-items: center; justify-content: space-between;
            padding: .75rem; border-radius: 1rem;
          cursor: pointer;
        } /*border: 1px inset white;*/
        #container-text2 h3{
          position: relative; bottom: .5rem;
        }
        .container-img{
          position: relative; z-index: 1;
          left: 21vw;
          top: 2.6rem;

        }
        #container-text2 h3{margin-bottom: 0; align-self: center;}
        .text-p2 {display: none; visibility: hidden;}
        .expand-arrow-down {display: block; visibility: visible; width: 2rem; height: 1rem; }
        #text-p-long1 {
          width: 50vw;  position: relative; left: .25rem;        
        }
        .artist-img2 {margin-left: 2rem; position: relative; right: 24vw; 
          box-shadow: 0px 0px 2px 4px  #4d6583;
            width: 16rem;
            height: 16rem;}


        #container-container2[aria-expanded="true"] #container-text2 {
          height: fit-content;
          top: 0; left: 0; right: 0; margin: 0; padding: .5rem;
          width: 92vw;
          display: flex; flex-direction: column; width: 92vw; position: relative; 
        }

        #container-container2[aria-expanded="true"] #container-text2 h3{
          position: static;
        }
        #container-container2[aria-expanded="true"] .text-p2 {
          display: block; visibility: visible; z-index: 30;
        }

        #container-container2[aria-expanded="true"] .container-img{
          z-index: 20; position: absolute; 
          height: 12rem;
          border: 1px solid white;
          border-radius: 1rem;
          background-image: url('/images/technicolors/technicolorsprofilepic.jpg');
          background-size: cover;
          background-position: center;
          width: 30vw;
          left: 60vw;
          top: 3.5rem; 
        }

        
        #container-container2[aria-expanded="true"] .expand-arrow-down{
          margin-bottom: .25rem;
        }

        #container-container2[aria-expanded="true"] .container-img .artist-img2 {
          display: none; visibility: hidden;
        }
  }

  @media screen and (max-width: 600px){
    .container-img{left: 20vw;}
    }

  @media screen and (max-width: 700px){
    #container-container2[aria-expanded="true"] .container-img{
      height: 13rem;
    }

  }

  @media screen and (max-width: 550px){
    #container-container2[aria-expanded="true"] .container-img{
      height: 16rem;
    }
  }

@media screen and (max-width: 450px){
  #container-container2[aria-expanded="true"] .container-img{
    height: 18rem;
  }
}

@media screen and (max-width: 400px){
  #container-container2[aria-expanded="true"] .container-img{
    height: 20rem;
  }
  #container-text2 h3{
    font-size: 1rem;
    text-align: center;
    margin-bottom: .5rem;
  }
  .container-img{left: 19vw;}
}

/*artist summary*/

  #artist-summary{
    width: 100%; box-sizing: border-box; padding: 1rem; padding-bottom: 0;
    display: flex; flex-direction: row;
  }

    .artist-img{
      width: 10rem;
      height: 10rem;
      border: 1px solid white;
      border-radius: 1rem;
    }

    #artist-summary div{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 1rem;
    }
      #artist-summary div p {
        font-size: .75rem;
        text-align: start;
        width: 100%;
      }

/*summary - tablet and mobile view*/
@media screen and (max-width: 768px){
      #artist-summary{
        flex-direction: column;
        align-items: center;
      }
        .artist-img{
          width: 16rem;
          height: 16rem;
          cursor: pointer;
          box-shadow: 0px 0px 2px 4px  #4d6583;
        }        /*filter: blur(2px);*/

        #artist-summary-text{cursor: pointer;}

        #artist-summary div{
          position: relative;
          z-index: 2;
          bottom: calc(16rem + 1px);
          margin-left: 0;
          margin-bottom: -16rem;
          
          border-radius: 1rem;
          height: 16rem;
          width: 16rem;
          background-color: #12171de7;
        }
        #artist-summary div p {
          text-align: center;
          font-size: .8rem;
          text-shadow: 1px 4px 4px black 1px 4px 4px black 1px 4px 4px black;
        }

        main #highlight2{
          margin-top: 6rem;
        }
        .slideinfo-container{
          margin-bottom: 4rem;
        }
        #section-container{
          margin-top: 2rem;
          margin-bottom: -2rem;
        }
}

@media screen and (min-width: 1600px){
  #artist-summary{
    justify-content: center;
  }
}

/*section - swirl animated buttons*/

#swirl-container{display:flex; width: 100%; z-index: 1;}
.swirl{ flex:1; max-width: 33%; z-index: 1; opacity: .8; position: relative;} /*possibly remove opacity style*/
.swirl-image{width: 100%; position: relative; top: 6%; z-index: 1;}
.swirl-link{
  display: block; width: 25%; height: 25%; 
  justify-content: center; align-items: center; display: flex; 
  position: relative; top: -58%; left: 37%;
  border-radius: 50%;
  text-decoration: none;
  z-index: 5;
} 

#swirl-link1{
  background-image: url("/images/spotify.png");
  background-size: cover;
  }

#swirl-link2{
  background-image: url("/images/instacircular.png");
  background-size: cover;
  }
  
#swirl-link3{
  background-image: url("/images/email6.png");
  background-size: cover;
  }

    .swirl-link:link, .swirl-link:active{
      color: #fffdef;
    }
    .swirl-link:visited{
      color: #fffdef;
    }
    .swirl-link:hover, .swirl-link:focus{
      color: #a54a59; 
    }

@media screen and (min-width: 768px){
  #swirl-container{
    width: 60%;
  }
}
@media screen and (min-width: 1000px){
  #swirl-container{
    width: 50%;
  }
}


/*HIGHLIGHT REEL 2*/

.works-wrap {height: fit-content; padding: .5rem; border: 1px inset white; border-radius: 1rem; display: flex; flex-direction: column; align-items: center;}


#highlight2 {
  margin-top: 12vw;
  width: 100%;
  /*aspect-ratio: 1350/1410;*/ /*aspect ratio matches background images*/
  /*  margin-top: -8%;
  margin-bottom: -13%;*/
  z-index: 3;
  }
  
    #roots-highlight2{
      margin: 0; z-index: 4;
      width: 100%;
    }
    
    #highlight2>#roots-highlight2{
      display: flex;
    }

    #slide-left2 {/*padding-right: 5%;*/
      background-image: url("/images/slidebuttonarrowleft.png");
      background-size: cover;
      background-position: center;
      
    }
    #slide-right2 {/*padding-left: 5%;*/
      background-image: url("/images/slidebuttonarrowright.png");
      background-size: cover;
      background-position: center;
      
    }

.slide-anchor2 {
              
  border: none;
  position: absolute;
  aspect-ratio: 1/1; /*SLIDE IMAGE THUMBNAIL SIZE HERE*/
  /*width: 50%;*/
  width: 33%;
  transition: left 500ms ease-in-out, transform 500ms ease-in-out;
  cursor: pointer;
}

/*
  .slide-expand-arrow{
    display: flex; justify-content: center; width: 100%; height: 1rem; align-self: center;
    position: relative; z-index: 2; top: -1rem;
  }
    .slider .slide-expand-arrow img{
      display: block; visibility: visible;
      width: 2rem; box-shadow: none;
    }
*/
      .slider {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;  
        /*height: 233px;*/
        display: flex;
        width: 100%;
      }

        .slider>button{
          height: 100%;
          z-index: 31;
          border: none;
          flex: 1;
          color: white;
          background-color: transparent;
        }
           

        .slides-container{
          z-index: 0;
          aspect-ratio: 1350/690;
          width: 100%;
          left: 0px;
          flex: 8;

        }
          .slide-anchor {
              
              border: none;
              position: absolute;
              aspect-ratio: 16/9; /*SLIDE IMAGE THUMBNAIL SIZE HERE*/
              /*width: 33%;*/
              width: 50%;
              transition: left 500ms ease-in-out, transform 500ms ease-in-out;
            }

            .slider img, .slider iframe{
              /*opacity: .95;*/
              width: 100%;
              height: 100%;
              border: none;
              box-shadow: 0px 0px 2px 2px black;
            }

/*section - slide info*/
@media screen and (min-width:1400px){
  .section-slideinfo{
    position: relative; top:-2rem;
  }
} 

.slideinfo-container {color:#e3f5ff; margin-left: 1rem; margin-right: 1rem; margin-top: -1rem;
  border: 1px inset white; border-top: none; border-bottom-right-radius: 1rem; border-bottom-left-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
  .slideinfo-top{
    display: flex;
    flex-direction: row;
    width: 100%; box-sizing: border-box; justify-content: space-between; padding: 1rem; 
  }
    .slideinfo-top-details p{
      font-size: .8rem;
    }
      .slideinfo-top-details .slideinfo-top-details-name{
        font-size: 1.2rem;
      }

  .slideinfo-bottom{
    display: flex; flex-direction: row;
    width: 100%; box-sizing: border-box; justify-content: space-between; padding: 1rem; padding-top: 0;
  }

    .slideinfo-link-spotify{
      display: block;
      position: relative;
      z-index: 100;
      list-style-type: none;
      text-decoration: none;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      background-image: url(/images/spotify.png);
      background-size: cover;
    }
    
    .slideinfo-bottom-description{width: 75%;}
    .slideinfo-bottom-description p{
     color:#e3f5ff;
     text-align: start;
     margin-bottom: .25rem;
    }
/*b0b0ba e3f5ff*/


/*RADIO BUTTON EXPANDER*/


.radiowrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-radiocards {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.radiocard {
  width: 10vw;
  height: 8rem;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
 
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}
@media screen and (max-width: 650px){
  .radiocard {width: 20vw;}
}
@media screen and (max-width: 400px){
  .radiocard {padding-bottom: 1rem; padding-top: 1.5rem;}
}
.radiocard > .radiorow {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.radiocard > .radiorow > .radioicon {
  background: #223;
  color: white;
  border-radius: 50%;
 visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.radiocard > .radiorow > .radiodescription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  width: 520px;
  opacity: 0;
  transform: translateY(60px);
  transition-delay: .3s;
  transition: all .3s ease;
  background-color: #12171df3;
  border-radius: .5rem;
  padding: .2rem;
}

@media screen and (max-width:500px){
.radiocard > .radiorow > .radiodescription {position: relative;
  top: 1rem;
}
}
@media screen and (min-width:2000px){
  .radiocard > .radiorow > .radiodescription {
    position: relative;
  top: 1rem;
  }
}

.radiodescription p {
  padding-top: 5px;
}

.radiodescription h4 {
  color: #b0b0ba;
  text-transform: uppercase;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .radiodescription {
  opacity: 1 !important;
  transform: translateY(-2rem) !important;
}

.radiocard[for="c1"] {
  background-image: url('/images/technicolors/technicolorsprofilepic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
}
.radiocard[for="c2"] {
  background-image: url('/images/technicolors.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}
.radiocard[for="c3"] {
  background-image: url('/images/technicolorsv2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}
.radiocard[for="c4"] {
  background-image: url('/images/technicolors/technicolors-metaphysical.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
}

/*footer*/
footer{z-index: 1; display: flex; justify-content: center; align-items: center; width: 100%; max-width: 100vw;}
  .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  gap: 1rem;

  list-style-type: none;
  background-color: #12171d9d;
  padding: 1rem;
  border-radius: 1rem;
  }
      @media screen and (max-width: 850px){
      footer{display: grid; 
          grid-template-columns: repeat(1, 100%);     grid-template-rows: auto auto; 
          grid-template-areas: 
              "internals"
              "socials";    
          }
          #footer-internals{grid-area: internals;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row;
              margin: 0;
              gap: 1rem;           
          
              list-style-type: none;
              background-color: #12171d9d;
              padding: 1rem;
              border-radius: 1rem;}
          #footer-socials{grid-area: socials;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row;
              margin: 0;
              gap: 1rem;             
          
              list-style-type: none;
              background-color: #12171d9d;
              padding: 1rem;
              border-radius: 1rem;
          }
      }
          .footer-item{list-style-type: none;}
          .footer-link{
          z-index: 12; 
          font-weight: 500;
          text-decoration: none;
          }
          footer img {height: 1rem;}

