/*UNIVERSAL*/

*{
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  max-width: 100vw;
  
}

html,body {margin: 0; width: 100%; background-color:#12171d;/*oldcolorwas12161c*/}
html {height: 100%;}

body {
  min-height: 100%; /*FIX FOUND - this fixed the repeat img only showing for part of the page, as the body was only reaching the viewport's pixel height when body was set to height: 100%; solution was to keep html as that setting, but set body to min-height 100% instead of definitive height to 100%*/
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /*prevent horizontal scroll bar*/
  /*star background*/
  background-image: url("/images/starV1frame1.png");
  background-repeat: repeat;
  background-attachment:fixed;
  /*TODO - play with these settings and consider animating the background img using method from STARTEST
  need to experiment with this more later (scrolling, animation with startest methods, full page coverage-FIX FOUND- min-height:100%; on body instead of height:100%;)*/
}

@media screen and (max-width: 850px){
  body {
    /*font-size: 12pt;*/
    /*font-size: calc(3vw+1em);*/
    background-size: 50%; /*fixes star density being too low on mobile*/
  }
}
@media screen and (min-width: 0px){
  :root {font-size: 12pt;  }
}
@media screen and (min-width: 365px){
  :root {font-size: 13pt;  }
}
@media screen and (min-width: 422px){
  :root {font-size: 14pt;  }
}
@media screen and (min-width: 506px){
  :root {font-size: 15pt;  }
}
@media screen and (min-width: 600px){
  :root {font-size: 16pt;  }
}
@media screen and (min-width: 700px){
  :root {font-size: 18pt;  }
}
@media screen and (min-width: 850px){
  :root {font-size: 20pt;  }
}
@media screen and (min-width: 1058px){
  :root {font-size: 22pt;  }
}
@media screen and (min-width: 1391px){
  :root {font-size: 24pt;  }
}
@media screen and (min-width: 1520px){
  :root {font-size: 26pt;  }
}
@media screen and (min-width: 2000px){
  :root {font-size: 30pt;  }
}
@media screen and (min-width: 3000px){
  :root {font-size: 36pt;  }
}
@media screen and (min-width: 3800px){
  :root {font-size: 40pt;  }
}

a {list-style-type: none; 
  text-decoration: none;
  z-index: 1; }

a:link, a:active, a:link *, a:active *{
  color: #e3f5ff;
}
a:visited, a:visited *{
  color: #e3f5ff;
}
a:hover, a:hover *{
  color: #e3f5ff3f;
}


table a:link, table a:active, table a:link *, table a:active *{
  color: #b1e3fd;
}
table a:visited, table a:visited *{
  color: #b1e3fd;
}
table a:hover, table a:hover *{
  color: #86caee3f;
}


/*nav*/
/*nav-desktop*/
nav {
  z-index: 29;
  align-self: end;
  margin-right: 5%;
  position: fixed;
  
}
  nav button{
    display: none;
    visibility: hidden;
    position: fixed;
    height: 0px;
    width: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 30;
  }
    #topnav {
      
      z-index: 10;
      display: flex;
      align-items: center;
      margin: 0;
      gap: 1rem;      
      list-style-type: none;
      background-color: #12171d9d;
      padding: .5rem;
      border-radius: .5rem;
    }  
    .topnav-item{list-style-type: none;}
    .topnav-link{
      z-index: 12; 
      font-weight: 500;
      text-decoration: none;
    }

    @media screen and (min-width: 850px){#topnav-link-home{visibility: hidden; display: none;}}
    
/*nav-mobile*/
 
  @media screen and (max-width: 850px) and (prefers-reduced-motion){
    #topnav-menu{
      translate: 0 0;
      opacity: 0;
      transition: opacity 500ms ease-in-out; 
      transition: translate 0s;

    }
  }
@media screen and (max-width: 850px){
    
  nav{z-index: 30; width: 40px; height: 40px; margin:0; padding: 0; top: 3px; right: 3px;}

  .hamburger-icon {z-index: 32; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;}
      .hamburger-icon-piece {
        z-index: 32;
        width: 25px;
        height: 5%;
        border: 1px solid white;
        background-color: #e3f5ff;
        border-radius: 1rem;
      }
  nav button{
    z-index: 33;
    display: block;
    visibility: visible;
    position: fixed;
    background: none;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    top: 4px;
    right: 3px;
  }
  #topnav-menu{
    width: 10rem; height: 14rem; margin: 0; position: fixed; top: 3px; right: 3px; /*fix: added measurements here instead of on nav element - this way the nav doesn't stay while only its content is translated*/
    z-index: 31;
    translate: 300vw 0;
    transition: translate 0.3s ease-in-out; 
  }
    #topnav {
      border: 2px inset white;
      margin-top: 2.5rem;
      z-index: 36;
      width: 100%;
      height: 100%;
      background-color: #12171df3;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: large;
      align-items:flex-start; 
    }
          .topnav-link{width: 100%; display: inline-block;}
          .topnav-item{width: 100%; display: inline-block;}
  }

 
#topnav-open[aria-expanded="true"] ~ #topnav-menu {
  translate: 0; 
}

@media (prefers-reduced-motion){
  #topnav-open[aria-expanded="true"] ~ #topnav-menu {
    opacity: 1;
  }
}


/*header*/
                            
header {
  display: flex;
  width: 100%;
  height: 2.5rem;
  min-height: 48px;
  align-items: center;
  justify-content: start;
  z-index: 29;
  border-bottom: 1px inset #e3f5ff;
  position: fixed;
  }
  #header-link{
      width: 70%; 
      height: 2.25rem;   
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      justify-content: start;

  }
      #header-h1 {align-items: center; font-size: 1rem;  font-weight: 500; color:#e3f5ff; padding-left: 20px;} 
      #tree-img {height: 2.25rem; width:2.34rem;} 


/*LOADSCREEN*/

      #loadcontainer{
          width: 100%;
          overflow-y: hidden;
          position: absolute;
          top: 0;
      }
          /*MOBILE*/
          @media screen and (max-width: 768px){
          #loadcontainer {height: calc(32.32rem + 60vw);} /* OLD height: calc(2.5rem + 1000px + 4rem) header plus main plus footer - 2rem high internals + 2rem high socials*/
          }                                
          /*DESKTOP*/
          @media screen and (min-width: 768px){
          #loadcontainer {height: calc(26rem + 40vw);} /*header plus main plus footer - 2rem high internals/socials */
          }
      .loadscreen {
          width: 100%;
          height: 100%;
          background-image: url("/images/starV1frame1.png");
          background-repeat: repeat;
          position: absolute;
          top: 0;
          transform: translateY(0);
          z-index: 20;
          display: flex;
          justify-content: center;
          animation: scrolldown 3s linear 1;
          animation-play-state: running;
          animation-iteration-count: 1;
          animation-fill-mode: both;
      }
      .loadscreen>img{
          width: 184px;
          height: 255px;
      }
      #loadscreen-notfirst{
          animation: scrolldown 1s linear 1;
          animation-play-state: running;
          animation-iteration-count: 1;
          animation-fill-mode: both;
      }
      @media screen and (max-width: 850px){
          @keyframes scrolldown {
          0%{transform: translateY(0);}
          20%{transform: translateY(10%);}
          100%{transform: translateY(100%); display: none; visibility: hidden;}
          }
      }
      @media screen and (min-width: 850px){
          @keyframes scrolldown {
          0%{transform: translateY(0);}
          20%{transform: translateY(10%)}
          100%{transform: translateY(100%); display: none; visibility: hidden;}
          }
      }

      @media screen and (prefers-reduced-motion){
        .loadscreen, #loadcontainer, .loadscreen>img {display: none; visibility: hidden;}
      }

/*main*/
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
} 

/*sections*/
section {width: 100%; height:fit-content; z-index: 1;}

.span-filler{height: 3rem; width: 100%;}
#filler{height: 1000px}

main h1, main h2, main h3{color: #e3f5ff; text-shadow: 1px 1px 1px black; align-self: center; padding-right: 5%; padding-left: 5%; }

main h2 {font-size: 2rem;}

.anchor-h2container{width: 100%; display: flex; justify-content: start; position: relative; left: -10vw; margin-top: 1rem; margin-bottom: -2.5rem;}
.anchor-h2container:hover *{ color: #e3f5ff;}
#reviews h2 {margin-top: 1rem; margin-bottom: 1.2rem;}
@media screen and (max-width: 422px) {
  #reviews h2 {margin-top: 1.2rem;}
}


/*DATATABLE OVERALL*/
  select option {font-size: 1rem;}
  .dt-paging-button{height: 1.5em; width: 1rem; font-size: .75rem;}
  .list-span-filler{height: 5rem; width: 100%; display: none; visibility: hidden;}

  #reviews{
  width: 80%;
  display: flex;
  flex-direction: column;
    } 

        /*controls for sorting*/
      
        .dt-layout-row .dt-length {display: flex; justify-content: start;}

        #custom-controls-container {
          display: flex; flex-direction: row; width: 100%; justify-content: end; 
        }
 
        @media screen and (max-width: 768px){
          #custom-controls-container{position: relative; bottom: -2.2rem;}
          .anchor-h2container{margin-bottom: -1.8rem;}
          #reviews .reviewsheading {margin-bottom: -1rem;}
          }  
          /*#columnFilter{margin-bottom: .3rem;}*/
          @media screen and (max-width: 640px){
            #custom-controls-container{position: relative; bottom: -2.8rem;}
            #reviews .reviewsheading {
              margin-bottom: -.5rem;
              position:relative; top: 1.2rem;
            }
            } 

            @media screen and (max-width: 330px){
              #reviewsheadingalbums{font-size: 1.9rem;}
            }

            

        .toggle-controls {display: flex; flex-direction: row; border: 1px inset white; border-radius: 5px; padding-top: .26rem; padding-bottom: .26rem; padding-left: .2rem; padding-right: .2rem; width: fit-content; }
            .toggle-controls h3 {font-size: 1rem; color: white;}
            .breaker2{width: .5rem; height: 0; display: block; }
            .toggle-container{border: 1px inset white; border-radius: 5px; width: .85rem; height: .75rem; align-self: center;}
            #alpha-toggle{width: .75rem; height: .75rem; accent-color: transparent; position: absolute;}
        
          #columnFilter {border: 1px inset white; border-radius: 5px;}
          
          #reviews select{background-color: transparent; height: 1.5lh; align-self: start;}
          @media screen and (max-width: 768px){#reviews select, #reviews .toggle-controls{align-self: center;}}
          
          #id-override-dt-column-order {width: 3rem;}
            #id-override-dt-column-order::before{content: "A-Z" / "";}
            #id-override-dt-column-order::after{content: "Z-A" / "";}
            @media screen and (min-width: 0px) {#id-override-dt-column-order::before{position: relative; top: 30px;}}  
            @media screen and (min-width: 500px) {#id-override-dt-column-order::before{position: relative; top: 40px;}}  
            @media screen and (min-width: 700px) {#id-override-dt-column-order::before{position: relative; top: 50px;}}  
            @media screen and (min-width: 1900px) {#id-override-dt-column-order::before{position: relative; top: 55px;}}
 
    #reviews table, #reviews label, #reviews select{color: white;}
    #reviews label{font-size: 0;}
    .dt-search{display: flex; align-items: start; z-index: 10; position: relative;}
    #dt-search-0{width: 100%; color: white; height: 2rem; font-size: 1.25rem;}
        @media screen and (max-width: 500px){#dt-search-0{font-size: 1rem;}}
      #reviews select option{color: black; font-weight: 300; font-size: 1rem;}
        #reviews select {font-size: 1rem;}

      tfoot {border-top: 2px inset white;}
      .dt-layout-table{border-bottom: 1px inset white;}
      .dt-start, .dt-end{color: #e3f5ff;}

      tr{height: 6rem; margin-top: 4rem; margin-bottom: 1rem;}
      tbody{height: fit-content;}
        /*
      .th-sortlabel {position: relative; bottom: 2rem; z-index: 1;}
      .th-sortlabel .dt-column-title{position: relative; bottom: 1rem;}
          @media screen and (min-width: 1391px){
            .th-sortlabel {position: relative; bottom: 1rem;}
            .th-sortlabel .dt-column-title{position: relative; bottom: 2rem;}
          }
          @media screen and (min-width: 2000px){
            .th-sortlabel {position: relative; bottom: .5rem;}
            .th-sortlabel .dt-column-title{position: relative; bottom: 2rem;}
          }*/

        .th-hidden, .td-review-date, .td-work, .td-artist{font-size: 0; visibility: hidden; display: none; width: 0; height: 0;}
        
/*DATATABLE CONTENT/ITEMS*/


/*
.list-review-details{
  z-index: 99; display: flex; flex-direction: column; align-items: center; justify-content: center;
  width: 100%; position: relative; left: -1.8rem;
}
    .list-review-details p{width: 100%; align-self: center; color: #e3f5ff;}
*/
.td-details{
  width: 80vw; height: 45vw;
  display: flex; flex-direction: row;
  align-items: center;
 
}

      .list-review-text{
          margin-right: 2rem;
          width: 40vw; height: fit-content; 
          border-radius: 1rem; 
          display: flex;
          flex-direction: column;
          align-items: center;
      }
            .list-review-text h2{font-size: 1.2rem; padding-left: 10px; padding-right: 10px; text-align: center; transition: opacity 1s ease-in-out;} 
            .list-review-text p {text-align: center;}
            @media screen and (max-width: 1300px){
              .breaker-shortborder{display: block; height: 0; width: 3rem; border-top: 1px inset white; margin-bottom: 1rem;}
          }

          @media screen and (min-width: 1301px){
            .list-review-text{flex-direction: row; justify-content: space-between;}
            .breaker-shortborder{display: block; height: 3rem; width: 0; border-right: 1px inset white; margin-right: 1rem; margin-left: 1rem;}
        }
        .banner-container-bottom, .banner-container-top, .banner-slide-bottom, .banner-slide-top, .banner-text-bottom, .banner-text-top {display: none; visibility: hidden;}

      .list-backgroundedge-container {
        padding: .5rem;
        width: 20rem; 
        aspect-ratio: 1/1;
        background-image: url(/images/back2.jpg);
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

            .list-background-img {
              border-radius: 1rem;
              border: 1px solid white;  overflow: hidden;
            }
            
            .list-background-img-review-link{z-index:1;}

      .continue-arrowright-container{
        display: block; height: 3rem; width: 1.5rem; 
        padding-left: 40vw; margin-left: -40vw; padding-top: calc(20vw - 1.5rem); padding-bottom: calc(20vw - 1.5rem);
        z-index: 100;
      }

      .continue-arrowright {border-left: 1px inset white;}
      



@media screen and (max-width: 768px){
  .continue-arrowright-container{
    padding-left: calc(1.5rem + 60vw); margin-left: calc(0px - 1.5rem - 60vw); padding-top: calc(30vw - 1.5rem); padding-bottom: calc(30vw - 1.5rem);
  }
  .banner-container-bottom, .banner-container-top, .banner-slide-bottom, .banner-slide-top, .banner-text-bottom, .banner-text-top {display: block; visibility: visible;}
 /* .list-review-text{width: 60vw; z-index: 10; padding-bottom: 1rem;  position: relative; left: .5rem; }
    .list-review-text h2, .list-review-text p{box-shadow: 0px 0px 10px black; background-color: #12171d9d; font-size: 1.5rem;}*/
  .list-backgroundedge-container{width: 60vw; position: absolute;}
  .td-details{
    width: 80vw; height: 65vw;
    display: flex; flex-direction: row;
    align-items: center;
  }
  .list-review-text h2, .list-review-text p{display: none; visibility: hidden;}

/*BANNERS*/
.list-review-text {
  width: 60vw; height: 60vw; z-index: 2; padding-bottom: 1rem;  position: relative; left: .5rem; top:.5rem;
  display: flex; flex-direction: column; justify-content: space-between; align-items: center; }
  .breaker-shortborder{display: none; visibility: hidden;}
.banner-container-top{z-index: 3; position: relative; left: 0; top: 0; width: 100%; height: 1.5rem;  overflow: hidden; border-top-left-radius: 1rem; border-top-right-radius: 1rem;}
.banner-slide-top{width: 100%; height: 1.5rem; overflow: hidden; text-wrap: nowrap; background-color:#12171d9d;}

.banner-container-bottom{z-index: 3; position: relative; width: 100%; height: 1.5rem;  overflow: hidden; border-bottom-left-radius: 1rem; border-bottom-right-radius: 1rem;}
.banner-slide-bottom{width: 100%; height: 1.5rem; overflow: hidden; text-wrap: nowrap; background-color:#12171d9d;}


   /* animation properties */

  .banner-text-top {
    font-weight: 500;
    position: relative; left: -10px; font-size: 1.3rem;  color: #b1e2fd8e;
 
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 10s linear infinite;
    -webkit-animation: my-animation 10s linear infinite;
    animation: my-animation 10s linear infinite;
  }

  .banner-text-bottom {
    font-weight: 500;
    position: relative; left: -10px; font-size: 1.3rem;  color: #b1e2fd8e;
 
    -moz-transform: translateX(-220%);
    -webkit-transform: translateX(-220%);
    transform: translateX(-220%);
    
    -moz-animation: my-animation-2 10s linear infinite;
    -webkit-animation: my-animation-2 10s linear infinite;
    animation: my-animation-2 10s linear infinite;
    
  }
  
/*ANIMATION 1*/
/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-220%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-220%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-220%);
    -webkit-transform: translateX(-220%);
    transform: translateX(-220%);
  }
}

/*ANIMATION 2*/
/* for Firefox */
@-moz-keyframes my-animation-2 {
  from { -moz-transform: translateX(-220%); }
  to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation-2 {
  from { -webkit-transform: translateX(-220%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation-2 {
  from {
    -moz-transform: translateX(-220%);
    -webkit-transform: translateX(-220%);
    transform: translateX(-220%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

}

@media screen and (prefers-reduced-motion){
  .banner-text-top,.banner-text-bottom{-moz-transform: none;  -webkit-transform: none;  transform: none;  -moz-animation: none; -webkit-animation: none; animation: none;
  position: relative; left: .5rem;
  text-wrap: wrap; white-space: wrap;
  }
  .banner-container-top, .banner-slide-top, .banner-container-bottom, .banner-slide-bottom{ height: fit-content; }
}




/*footer*/
footer{z-index: 1; display: flex; justify-content: center; align-items: center; width: 100%; max-width: 100vw;}
  .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  gap: 1rem;

  list-style-type: none;
  background-color: #12171d9d;
  padding: 1rem;
  border-radius: 1rem;
  }
      @media screen and (max-width: 850px){
      footer{display: grid; 
          grid-template-columns: repeat(1, 100%);     grid-template-rows: auto auto; 
          grid-template-areas: 
              "internals"
              "socials";    
          }
          #footer-internals{grid-area: internals;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row;
              margin: 0;
              gap: 1rem;           
          
              list-style-type: none;
              background-color: #12171d9d;
              padding: 1rem;
              border-radius: 1rem;}
          #footer-socials{grid-area: socials;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row;
              margin: 0;
              gap: 1rem;             
          
              list-style-type: none;
              background-color: #12171d9d;
              padding: 1rem;
              border-radius: 1rem;
          }
      }
          .footer-item{list-style-type: none;}
          .footer-link{
          z-index: 12; 
          font-weight: 500;
          text-decoration: none;
          }
          footer img {height: 1rem;}

