/*UNIVERSAL*/

*{
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  max-width: 100vw;
  
}

html,body {margin: 0; width: 100%; background-color:#12171d;/*oldcolorwas12161c*/}
html {height: 100%;}

body {
  min-height: 100%; /*FIX FOUND - this fixed the repeat img only showing for part of the page, as the body was only reaching the viewport's pixel height when body was set to height: 100%; solution was to keep html as that setting, but set body to min-height 100% instead of definitive height to 100%*/
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /*prevent horizontal scroll bar*/
  /*star background*/
  background-image: url("/RoomToRoam/images/starV1frame1.png");
  background-repeat: repeat;
  background-attachment:fixed;
  /*TODO - play with these settings and consider animating the background img using method from STARTEST
  need to experiment with this more later (scrolling, animation with startest methods, full page coverage-FIX FOUND- min-height:100%; on body instead of height:100%;)*/
}

@media screen and (max-width: 850px){
  body {
    /*font-size: 12pt;*/
    /*font-size: calc(3vw+1em);*/
    background-size: 50%; /*fixes star density being too low on mobile*/
  }
}
@media screen and (min-width: 0px){
  :root {font-size: 12pt;  }
}
@media screen and (min-width: 365px){
  :root {font-size: 13pt;  }
}
@media screen and (min-width: 422px){
  :root {font-size: 14pt;  }
}
@media screen and (min-width: 506px){
  :root {font-size: 15pt;  }
}
@media screen and (min-width: 600px){
  :root {font-size: 16pt;  }
}
@media screen and (min-width: 700px){
  :root {font-size: 18pt;  }
}
@media screen and (min-width: 850px){
  :root {font-size: 20pt;  }
}
@media screen and (min-width: 1058px){
  :root {font-size: 22pt;  }
}
@media screen and (min-width: 1391px){
  :root {font-size: 24pt;  }
}
@media screen and (min-width: 1520px){
  :root {font-size: 26pt;  }
}
@media screen and (min-width: 2000px){
  :root {font-size: 30pt;  }
}
@media screen and (min-width: 3000px){
  :root {font-size: 36pt;  }
}
@media screen and (min-width: 3800px){
  :root {font-size: 40pt;  }
}



a {list-style-type: none; 
  text-decoration: none;
  z-index: 1; }

a:link, a:active{
  color: #e3f5ff;
}
a:visited{
  color: #e3f5ff;
}
a:hover, a:hover *{
  color: #e3f5ff3f;
}



/*nav*/
/*nav-desktop*/
nav {
  z-index: 29;
  align-self: end;
  margin-right: 5%;
  position: fixed;
  
}
  nav button{
    display: none;
    visibility: hidden;
    position: fixed;
    height: 0px;
    width: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 30;
  }
    #topnav {
      
      z-index: 10;
      display: flex;
      align-items: center;
      margin: 0;
      gap: 1rem;      
      list-style-type: none;
      background-color: #12171d9d;
      padding: .5rem;
      border-radius: .5rem;
    }  
    .topnav-item{list-style-type: none;}
    .topnav-link{
      z-index: 12; 
      font-weight: 500;
      text-decoration: none;
    }

    @media screen and (min-width: 850px){#topnav-link-home{visibility: hidden; display: none;}}
    
/*nav-mobile*/
 
  @media screen and (max-width: 850px) and (prefers-reduced-motion){
    #topnav-menu{
      translate: 0 0;
      opacity: 0;
      transition: opacity 500ms ease-in-out; 
      transition: translate 0s;

    }
  }
@media screen and (max-width: 850px){
    
  nav{z-index: 30; width: 40px; height: 40px; margin:0; padding: 0; top: 3px; right: 3px;}

  .hamburger-icon {z-index: 32; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;}
      .hamburger-icon-piece {
        z-index: 32;
        width: 25px;
        height: 5%;
        border: 1px solid white;
        background-color: #e3f5ff;
        border-radius: 1rem;
      }
  nav button{
    z-index: 33;
    display: block;
    visibility: visible;
    position: fixed;
    background: none;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
    right: 0;
  }
  #topnav-menu{
    width: 10rem; height: 14rem; margin: 0; position: fixed; top: 3px; right: 3px; /*fix: added measurements here instead of on nav element - this way the nav doesn't stay while only its content is translated*/
    z-index: 31;
    translate: 300vw 0;
    transition: translate 0.3s ease-in-out; 
  }
    #topnav {
      border: 2px inset white;
      margin-top: 2.5rem;
      z-index: 36;
      width: 100%;
      height: 100%;
      background-color: #12171df3;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: large;
      align-items:flex-start; 
    }
          .topnav-link{width: 100%; display: inline-block;}
          .topnav-item{width: 100%; display: inline-block;}
  }

 
#topnav-open[aria-expanded="true"] ~ #topnav-menu {
  translate: 0; 
}

@media (prefers-reduced-motion){
  #topnav-open[aria-expanded="true"] ~ #topnav-menu {
    opacity: 1;
  }
}


/*header*/
                            
header {
  display: flex;
  width: 100%;
  height: 2.5rem;
  align-items: center;
  justify-content: start;
  z-index: 29;
  border-bottom: 1px inset #e3f5ff;
  position: fixed;
  }
  #header-link{
      width: 70%; 
      height: 2.25rem;   
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      justify-content: start;

  }
      #header-h1 {align-items: center; font-size: 1rem;  font-weight: 500; color:#e3f5ff; padding-left: 20px;} 
      #tree-img {height: 2.25rem; width:2.34rem;} 


/*LOADSCREEN*/
      #loadcontainer{
          width: 100%;
          overflow-y: hidden;
          position: absolute;
          top: 0;
          pointer-events: none;
      }
          /*small*/
          @media screen and (min-width: 0px){
          #loadcontainer {height: 46.5rem;} /* - 1.5rem for unexpected crap + 3rem + 7rem + 1rem + 30rem + 3rem + 4rem  - 3rem span-filler at top + 3.5rem h1 height (x2 when it wraps at 643px) + 1rem h1 marginbottom + 3x10rem height planet images + 3x1rem container marginbottom + 2rem footer (x2 under 850px) */
          }  
          /*medium*/
          @media screen and (min-width: 644px){
            #loadcontainer {height: 45.5rem;} /*3rem + 3.5rem + 1rem + 30rem + 3rem + 4rem*/
            }                                  
          /*large*/
          @media screen and (min-width: 851px){
            #loadcontainer {height: 43.5rem;} /*3rem + 3.5rem + 1rem + 30rem + 3rem + 2rem*/
            } 
      .loadscreen {
        pointer-events: none;
          width: 100%;
          height: 100%;
  /*        background-image: url("/RoomToRoam/images/starV1frame1.png");
          background-repeat: repeat;*/
          position: absolute;
          top: 0;
          transform: translateY(0);
          z-index: 20;
          display: flex;
          justify-content: center;
          animation: scrolldown 3s linear 1;
          animation-play-state: running;
          animation-iteration-count: 1;
          animation-fill-mode: both;
      }
      .loadscreen>img{
         
          width: 600px;
          height: 900px;
          position: relative;
          bottom: 900px;
      }
      /* ship.png would be - width: 184px; height: 255px;*/
      #loadscreen-notfirst{
          animation: scrolldown 2s linear 1;
          animation-play-state: running;
          animation-iteration-count: 1;
          animation-fill-mode: both;
      }
      @media screen and (max-width: 850px){
          @keyframes scrolldown {
          0%{transform: translateY(0);}
          100%{transform: translateY(180%); display: none; visibility: hidden;}
          }
      }
      @media screen and (min-width: 850px){
          @keyframes scrolldown {
          0%{transform: translateY(0);}
          100%{transform: translateY(180%); display: none; visibility: hidden;}
          }
      }

      @media screen and (prefers-reduced-motion){
        .loadscreen, #loadcontainer, .loadscreen>img {display: none; visibility: hidden;}
      }
/*main*/
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
} 

/*sections*/
section {width: 100%; height:fit-content; z-index: 1;}

.span-filler{height: 3rem; width: 100%;}
#filler{height: 1000px}

main h1, main h2, main h3, main p {color: #e3f5ff; text-shadow: 1px 1px 1px black; align-self: center; padding-right: 5%; padding-left: 5%; }
#topH1 {font-size: 3.5rem; margin-bottom: 1rem;}
main h2 {font-size: 2rem;}



/*PLANETS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.container-container{
  display: flex;
  width: 96vw;
  height: fit-content;
  margin-top: 1rem;
}

@media screen and (min-width: 500px){
  .container-container {margin-left: 1vw;}
}

@media screen and (min-width: 1024px){
  .container-container {margin-left: 2vw;}
}

.container-text{
    display: flex;
    text-align: right;
    align-items: center;
    
  }
    #container-text-middle{text-align: left;}
      .text-p {font-size: .75rem;}
      .text-h3 {text-align: center;}
    #container-concerts{justify-content: end;}
    #container-albums{justify-content: start;}
    #container-musicvideos{justify-content: end;}



  .container-planet{
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    }
      .planet-link{
        grid-area: 1/1/1/1;
        justify-self: center;
        width: 10rem;
        text-overflow: wrap;
        text-align: center;
      }
      .planet-link:hover *, .planet-link:focus * {
        text-shadow: 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black; 
      }
          #planet-link1:hover *{
            color: #9a75ff; 
          }
          #planet-link2:hover *{
            color: #75d3ff;   
          }
          #planet-link3:hover *{
            color: #75ffba; 
          } 
              /*, #planet-link3:focus * removed from color styles for accessibility - less visible if the above is applied*/
      
      .planet-text{text-shadow: 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;}
      .planet-img{
        grid-area: 1/1/1/1;
        width: 10rem;
        height: 10rem;
      }
      #planet-img-middle{
        width: 16.5rem;
        margin-left: -3.25rem;
        margin-right: -3.25rem;
      }


      @media screen and (max-width: 690px){
        .container-text{flex-direction: column; justify-content: space-evenly;}
          #container-text-middle{flex-direction: column-reverse;}
        .planet-link{width: 8rem;}
        .planet-img{width: 8rem; height: 8rem;}
          #planet-img-middle{width: 15rem; margin-left: -2.5rem; margin-right: -2.5rem;}
        .text-h3{align-self: end;}
          #text-h3-middle{align-self: start; }
        
      }
/*
    #planet-concerts{}
    #planet-albums{}
    #planet-musicvideos{}
*/







/*footer*/
footer{z-index: 1; display: flex; justify-content: center; align-items: center; width: 100%; max-width: 100vw;}
  .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  gap: 1rem;

  list-style-type: none;
  background-color: #12171d9d;
  padding: 1rem;
  border-radius: 1rem;
  }
      @media screen and (max-width: 850px){
      footer{display: grid; 
          grid-template-columns: repeat(1, 100%);     grid-template-rows: auto auto; 
          grid-template-areas: 
              "internals"
              "socials";    
          }
          #footer-internals{grid-area: internals;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row;
              margin: 0;
              gap: 1rem;           
          
              list-style-type: none;
              background-color: #12171d9d;
              padding: 1rem;
              border-radius: 1rem;}
          #footer-socials{grid-area: socials;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row;
              margin: 0;
              gap: 1rem;             
          
              list-style-type: none;
              background-color: #12171d9d;
              padding: 1rem;
              border-radius: 1rem;
          }
      }
          .footer-item{list-style-type: none;}
          .footer-link{
          z-index: 12; 
          font-weight: 500;
          text-decoration: none;
          }
          footer img {height: 1rem;}

