/*UNIVERSAL*/

*{
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  
}

html,body {margin: 0; width: 100%; background-color:#12171d;/*oldcolorwas12161c*/}
html {height: 100%;}

body {
  min-height: 100%; /*FIX FOUND - this fixed the repeat img only showing for part of the page, as the body was only reaching the viewport's pixel height when body was set to height: 100%; solution was to keep html as that setting, but set body to min-height 100% instead of definitive height to 100%*/
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /*prevent horizontal scroll bar*/
  /*star background*/
  background-image: url("/images/starV1frame1.png");
  background-repeat: repeat;
  background-attachment:fixed;
  /*TODO - play with these settings and consider animating the background img using method from STARTEST
  need to experiment with this more later (scrolling, animation with startest methods, full page coverage-FIX FOUND- min-height:100%; on body instead of height:100%;)*/
}

@media screen and (max-width: 850px){
  body {
    /*font-size: 12pt;*/
    /*font-size: calc(3vw+1em);*/
    background-size: 50%; /*fixes star density being too low on mobile*/
  }
}
@media screen and (min-width: 0px){
  :root {font-size: 12pt;  }
}
@media screen and (min-width: 365px){
  :root {font-size: 13pt;  }
}
@media screen and (min-width: 422px){
  :root {font-size: 14pt;  }
}
@media screen and (min-width: 506px){
  :root {font-size: 15pt;  }
}
@media screen and (min-width: 600px){
  :root {font-size: 16pt;  }
}
@media screen and (min-width: 700px){
  :root {font-size: 18pt;  }
}
@media screen and (min-width: 850px){
  :root {font-size: 20pt;  }
}
@media screen and (min-width: 1058px){
  :root {font-size: 22pt;  }
}
@media screen and (min-width: 1391px){
  :root {font-size: 24pt;  }
}
@media screen and (min-width: 1520px){
  :root {font-size: 26pt;  }
}
@media screen and (min-width: 2000px){
  :root {font-size: 30pt;  }
}
@media screen and (min-width: 3000px){
  :root {font-size: 36pt;  }
}
@media screen and (min-width: 3800px){
  :root {font-size: 40pt;  }
}

a:link, a:active{
  color: #e3f5ff;
}
a:visited{
  color: #e3f5ff;
}
a:hover{
  color: #e3f5ff3f;
}


/*nav*/
/*nav-desktop*/
nav {
  z-index: 29;
  align-self: end;
  margin-right: 5%;
  position: fixed;
  
}
  nav button{
    display: none;
    visibility: hidden;
    position: fixed;
    height: 0px;
    width: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 30;
  }
    #topnav {
      
      z-index: 10;
      display: flex;
      align-items: center;
      margin: 0;
      gap: 1rem;      
      list-style-type: none;
      background-color: #12171d9d;
      padding: .5rem;
      border-radius: .5rem;
    }  
    .topnav-item{list-style-type: none;}
    .topnav-link{
      z-index: 12; 
      font-weight: 500;
      text-decoration: none;
    }

    @media screen and (min-width: 850px){#topnav-link-home{visibility: hidden; display: none;}}
         
/*nav-mobile*/
 
  @media screen and (max-width: 850px) and (prefers-reduced-motion){
    #topnav-menu{
      translate: 0 0;
      opacity: 0;
      transition: opacity 500ms ease-in-out; 
      transition: translate 0s;

    }
  }
@media screen and (max-width: 850px){
    
  nav{z-index: 30; width: 40px; height: 40px; margin:0; padding: 0; top: 3px; right: 3px;}

  .hamburger-icon {z-index: 32; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;}
      .hamburger-icon-piece {
        z-index: 32;
        width: 25px;
        height: 5%;
        border: 1px solid white;
        background-color: #e3f5ff;
        border-radius: 1rem;
      }
  nav button{
    z-index: 33;
    display: block;
    visibility: visible;
    position: fixed;
    background: none;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    top: 4px;
    right: 3px;
  }
  #topnav-menu{
    width: 10rem; height: 14rem; margin: 0; position: fixed; top: 3px; right: 3px; /*fix: added measurements here instead of on nav element - this way the nav doesn't stay while only its content is translated*/
    z-index: 31;
    translate: 300vw 0;
    transition: translate 0.3s ease-in-out; 
  }
    #topnav {
      border: 2px inset white;
      margin-top: 2.5rem;
      z-index: 36;
      width: 100%;
      height: 100%;
      background-color: #12171df3;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: large;
      align-items:flex-start; 
    }
          .topnav-link{width: 100%; display: inline-block;}
          .topnav-item{width: 100%; display: inline-block;}
  }

 
#topnav-open[aria-expanded="true"] ~ #topnav-menu {
  translate: 0; 
}

@media (prefers-reduced-motion){
  #topnav-open[aria-expanded="true"] ~ #topnav-menu {
    opacity: 1;
  }
}


/*header*/
                            
  header {
    display: flex;
    width: 100%;
    height: 2.5rem;
    min-height: 48px;
    align-items: center;
    justify-content: start;
    z-index: 29;
    border-bottom: 1px inset #e3f5ff;
    position: fixed;
  }
  #header-link{
      width: 70%; 
      height: 2.25rem;   
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      justify-content: start;

  }
      #header-h1 {align-items: center; font-size: 1rem;  font-weight: 500; color:#e3f5ff; padding-left: 20px;} 
      #tree-img {height: 2.25rem; width:2.34rem;} 


/*LOADSCREEN*/
      #loadcontainer{
          width: 100%;
          overflow-y: hidden;
          position: absolute;
          top: 0;
      }
          /*MOBILE*/
          @media screen and (max-width: 850px){
          #loadcontainer {height: calc(2.5rem + 1000px + 4rem);} /*header plus main plus footer - 2rem high internals + 2rem high socials*/
          }                                
          /*DESKTOP*/
          @media screen and (min-width: 850px){
          #loadcontainer {height: calc(2.5rem + 1000px + 2rem);} /*header plus main plus footer - 2rem high internals/socials */
          }
      .loadscreen {
          width: 100%;
          height: 100%;
          background-image: url("/images/starV1frame1.png");
          background-repeat: repeat;
          position: absolute;
          top: 0;
          transform: translateY(0);
          z-index: 20;
          display: flex;
          justify-content: center;
          animation: scrolldown 2s linear 1;
          animation-play-state: running;
          animation-iteration-count: 1;
          animation-fill-mode: both;
      }
      .loadscreen>img{
          width: 184px;
          height: 255px;
      }
      #loadscreen-notfirst{
          animation: scrolldown 1s linear 1;
          animation-play-state: running;
          animation-iteration-count: 1;
          animation-fill-mode: both;
      }
      @media screen and (max-width: 850px){
          @keyframes scrolldown {
          0%{transform: translateY(0);}
          20%{transform: translateY(10%);}
          100%{transform: translateY(100%); display: none; visibility: hidden;}
          }
      }
      @media screen and (min-width: 850px){
          @keyframes scrolldown {
          0%{transform: translateY(0);}
          20%{transform: translateY(10%)}
          100%{transform: translateY(100%); display: none; visibility: hidden;}
          }
      }
      @media screen and (prefers-reduced-motion){
        .loadscreen, #loadcontainer, .loadscreen>img {display: none; visibility: hidden;}
      }
/*main*/


  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    z-index: 1;
  } 

  main h1, main h2, main h3,  main p{color: #e3f5ff; text-shadow: 1px 1px 1px black; align-self: center;}
  main h2 {font-size: 2rem;}

  .span-filler-text{height: 1rem; width: 100%;}
  .span-filler{height: 3rem; width: 100%; display: block;}
  .span-filler2{height: 1rem; width: 100%; display: block;}
  .span-filler3{height: 2rem; width: 100%; display: block;}
    @media screen and (min-width:550px) {
      .span-filler3{height: 1rem;}
    }
  .span-filler4{height: 2rem; width: 100%; display: block;}
  
  #filler{height: 1000px}


/*sections*/
  section {width: 100%; height:fit-content; z-index: 1;}


  .heading{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  padding-top: 3rem;
  }
    @media screen and (max-width: 450px){
      .heading{padding-top: 4rem;}
    }
  .heading h1{color: white; font-size: 2rem; text-align: center; width: 95%;}

/*about summaries with image*/
.about-summary-container{
  display: flex; flex-direction: column; justify-content: center; align-items: center;
}
  .about-summary{
    width: 80%; box-sizing: border-box; 
    display: flex; flex-direction: row; justify-content: center;
  }
        #about-summary2{flex-direction: row-reverse; }

    .concert-imgcontainer{
      flex: 1;
      margin: .5rem;
      border-radius: 1rem;
      overflow: hidden;
    }
    .about-img{
      height: 9rem;
      width: 6rem;    
      flex: none;
      margin-right: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 2px groove #e3f5ffa8;
      border-radius: 1rem;
    }   
        #about-img2{margin-right: 0; margin-left: 1rem;}

    .about-summary div{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
      .about-summary div p {
        font-size: .75rem;
        text-align: start;
        width: 100%;
      }


  .about-summary-textunder{
    font-size: .75rem;
        text-align: start;
        width: 80%;
  }

  @media screen and (max-width: 550px){
    .about-summary-textlast{
      display:none;
    }
    .about-summary-textunder{
      display:block;
    }
    .about-summary div p { font-size: .8rem;}
    .about-summary-textunder{
      font-size: .8rem;}
  }
  @media screen and (min-width: 551px){
    .about-summary-textlast{
      display:block;
    }
    .about-summary-textunder{
      display:none;
    }
  }


/*image automatic slide reel*/


  .banner-container{z-index: 3; position: relative; left: 0; top: 0; width: 100%; height: fit-content;  overflow: hidden; 
  }
    #banner-container-1{    border-top: 3px inset #b1d1f880;
    }
    #banner-container-2{    border-bottom: 3px inset #b1d1f880;
    }
  
  .banner-slide{width: 100%; height: fit-content;
  }
    #banner-slide-1{    border-top: 1px solid #ffffffd7;
    }
    #banner-slide-2{    border-bottom: 1px solid #ffffffd7;
    }

          .banner-slide-content1 {
            display: flex; flex-direction: row;
            width: fit-content;
            position: relative; left: -10px;
        
            -moz-animation: my-animation 50s linear reverse infinite;
            -webkit-animation: my-animation 50s linear reverse infinite;
            animation: my-animation 50s linear reverse infinite;

          }
              .banner-slide-content1 img{
                height: 13.28rem; 
                width: 20rem;
              } /*native img aspect ratio: 996px H x 1500px W => 83/125 Aspect Ratio ~> for 20rem W, this is about 13.28rem H ~= 13rem but will try it with the decimal accuracy to see if there are any issues with this level of precision*/
          .banner-slide-content2 {
            display: flex; flex-direction: row;
            width: fit-content;
            position: relative; left: -10px;
        
            -moz-animation: my-animation 40s linear forwards infinite;
            -webkit-animation: my-animation 40s linear forwards infinite;
            animation: my-animation 40s linear forwards infinite;
          }

              .banner-slide-content2 img{
                height: 22.5rem; 
                width: 15rem;
              } /*native img aspect ratio: 2250px H x 1500px W => 3/2 Aspect Ratio => for 15rem W, this is 22.5rem H*/
              .banner-slide-content2 pre{
                color:#b1e3fd;
              }

/*space bug animation banner*/
.banner-container-bug{z-index: 3; position: relative; left: 0; top: 0; width: 100%; height: fit-content;  overflow: hidden;}
.banner-slide-bug{width: 100%; height: fit-content;}
.banner-slide-contentbug {
  display: flex; flex-direction: row;
  width: 100%;
  position: relative; left: 100vw;

  -moz-animation: my-animation2 14s ease-in forwards infinite;
  -webkit-animation: my-animation2 14s ease-in forwards infinite;
  animation: my-animation2 14s ease-in forwards infinite;
}
    @media screen and (max-width: 850px){
      .banner-slide-contentbug {
        -moz-animation: my-animation2 10s ease-in forwards infinite;
        -webkit-animation: my-animation2 10s ease-in forwards infinite;
        animation: my-animation2 10s ease-in forwards infinite;
    }
  }
.banner-slide-contentbug img{
  width: 7rem; height: 7rem;
  
}
.banner-slide-contentbug h2{
  width: 100%;
  position: absolute; left: 7rem;
}
  
  /*ANIMATION (keyframe) 1*/
  /*translateX amount = - total width of non-repeats (ex: -120rem translateX for 6 images in the reel, with copies of the 1st 4 images rotated in after for smoothness)*/
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(0); }
    to { -moz-transform: translateX(-120rem); }
  }

  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(-120rem); }
  }

  @keyframes my-animation {
    from {
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    to {
      -moz-transform: translateX(-120rem);
      -webkit-transform: translateX(-120rem);
      transform: translateX(-120rem);
    }
  }


/*ANIMATION (keyframe) 2*/
@-moz-keyframes my-animation2 {
  from { -moz-transform: translateX(0); }
  to { -moz-transform: translateX(-200%); }
}

/* for Chrome */
@-webkit-keyframes my-animation2 {
  from { -webkit-transform: translateX(0); }
  to { -webkit-transform: translateX(-200%); }
}

@keyframes my-animation2 {
  from {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -moz-transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}

/*about text only paragraph*/

.mission-text {
  display: flex; flex-direction: row;
  justify-content: center;
} /*overflow hidden to hide the top and bottom of the box shadow on the div below (UNUSED -looks bad)*/

.mission-text div{
  display: flex; flex-direction: column;
  width: 80%;
  height: fit-content;
  padding: .5rem;
}/*  border-top: 1px inset #e3f5ffa8;
  border-bottom: 1px ridge #e3f5ffa8; (UNUSED -looks bad)*/

.mission-text p{
  width: 100%;
  text-align: start;
  font-size: .85rem; text-align: start;
  font-weight: 400;
}


  
/*footer*/
footer{z-index: 1; display: flex; justify-content: center; align-items: center; width: 100%; max-width: 100vw;}
  .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  gap: 1rem;

  list-style-type: none;
  background-color: #12171d9d;
  padding: 1rem;
  border-radius: 1rem;
  }
      @media screen and (max-width: 850px){
      footer{display: grid; 
          grid-template-columns: repeat(1, 100%);     grid-template-rows: auto auto; 
          grid-template-areas: 
              "internals"
              "socials";    
          }
          #footer-internals{grid-area: internals;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row;
              margin: 0;
              gap: 1rem;           
          
              list-style-type: none;
              background-color: #12171d9d;
              padding: 1rem;
              border-radius: 1rem;}
          #footer-socials{grid-area: socials;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row;
              margin: 0;
              gap: 1rem;             
          
              list-style-type: none;
              background-color: #12171d9d;
              padding: 1rem;
              border-radius: 1rem;
          }
      }
          .footer-item{list-style-type: none;}
          .footer-link{
          z-index: 12; 
          font-weight: 500;
          text-decoration: none;
          }
          footer img {height: 1rem;}

